<configuration debug="true">

	<!-- Send debug messages to System.out -->	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd-MMM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <appender name="CUSTOMER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>customer-management.debug</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>customer.%d{yyyy-MM-dd}.debug</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%date{dd-MMM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
    </appender>
    
    <logger name="org.springframework" level="INFO" />
    
    <logger name="au.com.rjavaria.profile" level="INFO">
        <appender-ref ref="CUSTOMER" />
    </logger>
    
    <root level="debug">
          <appender-ref ref="STDOUT" />   
     </root>  
</configuration>